{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": false,
	"semi": true,
	"singleQuote": false,
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"printWidth": 80,
				"bracketSpacing": false,
				"explicitTypes": "always"
			}
		}
	]
}
